body {
	color:#333333;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:62.5%;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:140%;
	font-size:1.1em;
	width:auto;
	background-color: #F6F6F6;
}
label {
	color:#333333;
	display:block;
	float:left;
	height:35px;
	margin:8px 10px 0 0;
	text-align:right;
	width:200px;
}
#karteninfo {
	margin-left: 20px;
}
#karteninfo input {
	float:left;
	font-size:11px;
	padding:2px 2px 2px 3px;
	background-color:#FFFFFF;
	border:1px solid #333333;
	height:auto;
	margin:10px 10px 0 0;
	width:200px;
}
#buttons input {

	height:30px;
	background: transparent url(../../../templates/0/de/media/img/default/store/button_bg.gif) repeat-x right top;
	border:0px;
	border-bottom: 2px solid #d3d3d3;
	text-transform: uppercase;
	color:#fff;
	font-size: 11px;
	line-height: 11px;
	padding:0;
	display: block;
	text-align: left;
	padding: 0px 20px;
	cursor: pointer;

	width: 220px;
	text-align: left;
	float: right;
	margin-right: 15px;
}
input#abbrechen {
	margin-left:20px !important;
	float: left !important;
		background: transparent url(../../../templates/0/de/media/img/default/store/button_default_bg_l.gif) repeat-x left top;
	border:0px;
	border-bottom: 2px solid #ededed;
	color:#dd4800;
	width: 220px;
	text-align: right;
	float: left;
	margin-left: 15px;

}
#summe{
	display:none;
}
table {width:320px;}
TD {FONT-WEIGHT: normal;FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana; padding:2px 0px 17px 0px;line-height:14px;}
a{font-family:Verdana; font-size:11px; text-decoration:underline; color:#666666;}
a:hover{text-decoration:none;}
.standardTxt{font-family:Verdana; font-size:11px; color:#333333; text-decoration:none; line-height:130%; font-weight:normal;}
.bestellung{margin:10px auto;font-family:Verdana; font-size:11px; color:#333333;}
.betrag{margin-top:12px; margin-bottom:12px;}
input, select {font-family:Verdana; font-size:11px; color:#333333;width:180px;margin:0;}
#pruefnummer{width:40px;margin-right:5px}
#year{width:70px;}
#month{width:70px;}
#buttons{margin-top:12px;margin-bottom:24px;}
#nummer{margin-right:12px;}
#kartentyp{width:186px;}
.error {border:2px solid #cc0000; }
.errormsg {color:#cc0000; font-weight:bold;}


/*buttons*/
a.button {
	height: 12px;
	border:0px;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 11px;
	padding: 9px 20px 7px 20px;
	display: block;
	cursor: pointer;
}
a.btn_def_r {
	background: transparent url(../../../templates/0/de/media/img/default/store/button_default_bg.gif) repeat-x right top;
	border:0px;
	border-bottom: 2px solid #ededed;
	color:#dd4800;
	width: 80px;
	text-align: left;
	float: right;
	margin-right: 15px;
}
a.btn_def_l {
	background: transparent url(../img/default/store/button_default_bg_l.gif) repeat-x left top;
	border:0px;
	border-bottom: 2px solid #ededed;
	color:#dd4800;
	width: 80px;
	text-align: right;
	float: left;
	margin-left: 15px;
}
a.btn_high_r {
	background: transparent url(../img/default/store/button_bg.gif) repeat-x right top;
	border:0px;
	border-bottom: 2px solid #d3d3d3;
	color:#fff;
	width: 80px;
	text-align: left;
	float: right;
	margin-right: 15px;
}
a.btn_high_l {
	background: transparent url(../img/default/store/button_bg_l.gif) repeat-x left top;
	border:0px;
	border-bottom: 2px solid #d3d3d3;
	color:#fff;
	width: 80px;
	text-align: right;
	float: left;
	margin-left: 15px;
}

a.btn_high_r:active, a.btn_high_r:hover, a.btn_high_r:link, a.btn_high_r:visited, a.btn_high_l:active, a.btn_high_l:hover, a.btn_high_l:link, a.btn_high_l:visited {text-decoration: none; color:#fff;}
a.btn_def_r:active, a.btn_def_r:hover, a.btn_def_r:link, a.btn_def_r:visited, a.btn_def_l:active, a.btn_def_l:hover, a.btn_def_l:link, a.btn_def_l:visited {text-decoration: none; color:#dd4800;}


input.button {
	height:30px;
	background: transparent url(../img/default/store/button_bg.gif) repeat-x right top;
	border:0px;
	border-bottom: 2px solid #d3d3d3;
	text-transform: uppercase;
	color:#fff;
	font-size: 11px;
	line-height: 11px;
	padding:0;
	display: block;
	text-align: left;
	padding: 0px 20px;
	cursor: pointer;
}

input.btn_def_r {
	background: transparent url(../img/default/store/button_default_bg.gif) repeat-x right top;
	border:0px;
	border-bottom: 2px solid #ededed;
	color:#dd4800;
	width: 120px;
	text-align: left;
	float: right;
	margin-right: 15px;
}
input.btn_def_l {
	background: transparent url(../img/default/store/button_default_bg_l.gif) repeat-x left top;
	border:0px;
	border-bottom: 2px solid #ededed;
	color:#dd4800;
	width: 120px;
	text-align: right;
	float: left;
	margin-left: 15px;
}
input.btn_high_r {
	background: transparent url(../img/default/store/button_bg.gif) repeat-x right top;
	border:0px;
	border-bottom: 2px solid #d3d3d3;
	color:#fff;
	width: 120px;
	text-align: left;
	float: right;
	margin-right: 15px;
}
input.btn_high_l {
	background: transparent url(../img/default/store/button_bg_l.gif) repeat-x left top;
	border:0px;
	border-bottom: 2px solid #d3d3d3;
	color:#fff;
	width: 120px;
	text-align: right;
	float: left;
	margin-left: 15px;
}
