/* Reset */
html, body, div, p, h1, h2, h3, h4, ul, ol, li, span, a, table, td, form, fieldset, img {
    border: 0;
    margin: 0;
    padding: 0;
	list-style: none;
}
body {background-color: #F6F6F6;color: #333;	font: 11px/14px Arial, tahoma, verdana, sans-serif; }
h1, h2, h3 {
	font: 13px Arial, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold; 
	color: #000; 
}
a:link {color:#000; text-decoration:none;outline: none;}
a:visited {color:#000; text-decoration:none;outline: none;}
a:hover {color:#999999; text-decoration:underline;outline: none;}
a:active {color:#000; text-decoration:none;outline: none;}
.fixfloat {height:1px;font-size: 0;line-height: 0;clear: both;}

fieldset {
	margin: 10px 0 5px 0;
	color: #555;
}
legend {
	margin:0 0 1px 0;
	padding:0;
	font-weight: bold;
}
label {
	display:block;
	width:200px;
	float:left;
	height:35px;
	color: #333;
	text-align: right;
	margin: 0 10px 0 0;
}
fieldset p {
	padding: 10px;
	display: block;
	height:20px;
}
fieldset p.none {
	padding: 10px;
	border-bottom: none;
}
fieldset p.description {
	
	padding: 0px 20px 10px 220px;

	font-size: 10px;
	line-height: 1.4em;
	color: #333;
}

fieldset p.checkdescription {
	padding: 0px 20px 10px 220px;
	font-size: 0.9em;
	line-height: 1.4em;
	color: #333;
}
#content fieldset input.normal {
	padding: 2px 2px 2px 3px;
	font-size: 11px
	width: 290px;
	height: 16px;
	margin: 0 10px 0 0;
	background-color: #fff;	
	border: 1px solid #333;
	}
select {
	padding: 1px 0 1px 5px;
	font-size: 11px;
	border: 1px solid #333;
	background-color: #fff;
	width:175px;
}
select.normal {
	width: 297px;
	height: 20px;
}
textarea {
	border: 1px solid #333;
	color: #000;
	width: 295px;
}
textarea .normal {width: 296px;	background-color: #fff;	border: 1px solid #333; }

/*buttons*/
a.button {
	height: 12px;
	border:0px;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 11px;
	padding: 9px 20px 7px 20px;
	display: block;
	cursor: pointer;
}
a.btn_def_r {
	background: transparent url(../img/default/store/button_default_bg.gif) repeat-x right top;
	border:0px;
	border-bottom: 2px solid #ededed;
	color:#dd4800;
	width: 80px;
	text-align: left;
	float: right;
	margin-right: 15px;
}
a.btn_def_l {
	background: transparent url(../img/default/store/button_default_bg_l.gif) repeat-x left top;
	border:0px;
	border-bottom: 2px solid #ededed;
	color:#dd4800;
	width: 80px;
	text-align: right;
	float: left;
	margin-left: 15px;
}
a.btn_high_r {
	background: transparent url(../img/default/store/button_bg.gif) repeat-x right top;
	border:0px;
	border-bottom: 2px solid #d3d3d3;
	color:#fff;
	width: 80px;
	text-align: left;
	float: right;
	margin-right: 15px;
}
a.btn_high_l {
	background: transparent url(../img/default/store/button_bg_l.gif) repeat-x left top;
	border:0px;
	border-bottom: 2px solid #d3d3d3;
	color:#fff;
	width: 80px;
	text-align: right;
	float: left;
	margin-left: 15px;
}

a.btn_high_r:active, a.btn_high_r:hover, a.btn_high_r:link, a.btn_high_r:visited, a.btn_high_l:active, a.btn_high_l:hover, a.btn_high_l:link, a.btn_high_l:visited {text-decoration: none; color:#fff;}
a.btn_def_r:active, a.btn_def_r:hover, a.btn_def_r:link, a.btn_def_r:visited, a.btn_def_l:active, a.btn_def_l:hover, a.btn_def_l:link, a.btn_def_l:visited {text-decoration: none; color:#dd4800;}


input.button {
	height:30px;
	background: transparent url(../img/default/store/button_bg.gif) repeat-x right top;
	border:0px;
	border-bottom: 2px solid #d3d3d3;
	text-transform: uppercase;
	color:#fff;
	font-size: 11px;
	line-height: 11px;
	padding:0;
	display: block;
	text-align: left;
	padding: 0px 20px;
	cursor: pointer;
}

input.btn_def_r {
	background: transparent url(../img/default/store/button_default_bg.gif) repeat-x right top;
	border:0px;
	border-bottom: 2px solid #ededed;
	color:#dd4800;
	width: 120px;
	text-align: left;
	float: right;
	margin-right: 15px;
}
input.btn_def_l {
	background: transparent url(../img/default/store/button_default_bg_l.gif) repeat-x left top;
	border:0px;
	border-bottom: 2px solid #ededed;
	color:#dd4800;
	width: 120px;
	text-align: right;
	float: left;
	margin-left: 15px;
}
input.btn_high_r {
	background: transparent url(../img/default/store/button_bg.gif) repeat-x right top;
	border:0px;
	border-bottom: 2px solid #d3d3d3;
	color:#fff;
	width: 120px;
	text-align: left;
	float: right;
	margin-right: 15px;
}
input.btn_high_l {
	background: transparent url(../img/default/store/button_bg_l.gif) repeat-x left top;
	border:0px;
	border-bottom: 2px solid #d3d3d3;
	color:#fff;
	width: 120px;
	text-align: right;
	float: left;
	margin-left: 15px;
}

a.float_reset {float:none;}
input.float_reset {float:none;}
a.width_reset {width:auto;}
input.width_reset {width:auto;}

div.agb_accept {
	height: 30px;
	padding: 10px 25px;
	color: #444;
	font-weight:bold;
}
div.agb_accept label.chklabel { color: #444;font-weight:bold; width:490px;}
div.agb_info {
	height: 30px;
	padding: 10px 25px;
	color: #888;
	font-weight:normal;
}

.error {border:3px solid #cf1c1c; background:#fceded; padding:7px 7px 7px 45px; margin:2em 0; color: #cf1c1c;}





#container {
	margin: 0pt !important;
	padding: 0pt !important;
	width:auto !important;
}
#content {
	margin: 0pt !important;
	padding: 0pt !important;
	heigth: 
}
#container {
	margin: 0pt !important;
	padding: 0pt !important;
	width:auto !important;
	background-image: none;
}
.cat_text {
	border-left:none !important;
	border-right:none !important;
	margin-top: 20px !important; 
}
input.normal {
	height:auto !important;
}
.buttons {
	height:50px !important;
}

input {

}
.instyle_error {
	border: 1px solid #cf1c1c !important;
	background-color: #fceded !important;
}
select.instyle_error {
	border: 1px solid #cf1c1c;
	background-color: #fceded;
}
textarea.instyle_error {
	border: 1px solid #cf1c1c;
	background-color: #fceded;
}