/*
  Feldbeschriftung
  Voreinstellung: Schwarze Schrift, Größe 10
*/
.font_txt_color1{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #000000;
}


