/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: 4px solid #888;
	margin:-4px;	/* Set this to minus the border thickness. */
	background-color:#fff;	
	cursor:move;		
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
	left:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
	border:0px solid #ccc;
	overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
}

/*	SLIMBOX2
	------------------------ */
#lbOverlay {
	position: fixed;
	z-index: 8000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #555;
	opacity: 0.8;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 8500;
	overflow: hidden;
	background-color: #fff;
}

#lbCenter {
	-webkit-box-shadow: 0px 0px 15px rgba(22, 22, 22, 0.9);
	-moz-box-shadow: 0px 0px 15px rgba(22, 22, 22, 0.9);
}

.lbLoading {
	background: #fff url(../images/loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(../images/prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
	right: 10px;
}

#lbNextLink:hover {
	background: transparent url(../images/nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(../images/closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCloser {
	width: 22px;
	height: 22px;
	background: url(../images/icons/ico_closebutton.gif) no-repeat;
	position: absolute;
	top:0;
	margin: -11px 0 0 -11px;
	z-index: 9000;
	cursor: pointer;
}
#lbThumbs {
	padding: 15px 0 0 0;
	display: none;
	background: #efefef;
	width: 165px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: absolute;
	right: 0;
	text-align: center;
	overflow: scroll;
	display: none;
}
#lbThumbs a img {
	display: block;
	max-width: 128px;
	max-height: 68px;
	border: 5px solid #dfe6eb;
	margin: 5px auto;
}
#lbThumbs a img:hover, #lbThumbs a img.active {
	border: 5px solid #10A0DE;
}

/*	MODAL BOX
	------------------------ */
.modal {
	z-index: 9000;
	border: 1px solid #888;
}
.modal h2 {
	font-family: Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
	color: #333;
	letter-spacing: -1px;
	line-height: 1;
	font-size: 21px;
}
.modal p {
	font: 13px/18px Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
	color: #555;
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.08);
}
.modal .table_foot p, .modal .table_row p {
	font: 11px/1.3em "Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	margin: 0 0 0.5em;
}
.modal div.listing {
	font-size: 11px;
}
.modal .close {
	display: block;
	position: absolute;
	bottom: 15px;
	right: 15px;
	text-indent: -9999em;
	background: url(../images/modal_close_button.png) no-repeat 0 0;
	width: 52px;
	height: 27px;
}
.modal iframe {
	border: 0 none;
	width: 100%;
}
.modal .close:active {
	bottom: 14px;
}