/* 
	Zuletzt bearbeitet:		Sebastian Hamann
	Datum:					04.05.2006
------------------------------------------------------------------*/

/*  The normal window
------------------------------------------------------------------*/

fieldset {
	padding: 20px;
	margin: 0 0 20px 0;
	
	border: 1px solid #CECECE;	
	background: url(../img/default/bg_fieldset.gif) repeat-x;
	min-width: 400px;
}
fieldset br {
	clear: both;
}
legend {
	margin: 0;
	padding: 0;
	color: #797979;
}
label {
	display: block;
	float: left;
	
	width: 150px;
	height: 35px;
	padding: 0 10px 0 0;
	
	text-align: right;
}
/*  input
------------------------------------------------------------------*/
fieldset input {
	float: left;
	padding: 4px 0 4px 5px;
	height: 14px;
	
	font-size:10px;
	width: 200px;
	
	color: #5C5C5C;
}