/* 
	Zuletzt bearbeitet:		Sebastian Hamann
	Datum:					18.04.2007
------------------------------------------------------------------*/
/* Just the following code construction 

__________________01. ICONS



------------------------------------------------------------------*/

/* 01. ICONS
------------------------------------------------------------------*/

a.ico2, a.ico2:active, a.ico2:visited, a.ico2:link {
	color: #000;
	text-decoration: none;
	display: block;
	padding: 2px 0 2px 25px;
}
a.ico3, a.ico3:active, a.ico3:visited, a.ico3:link {
	color: #000;
	text-decoration: none;
	display: block;
	padding: 2px 0 2px 25px;
	border:1px solid #e9e9e9;
}
a.ico3:hover { 
	 color: #000;
	 text-decoration: none;
	 background-color: #DDEEFF;
	 border:1px solid #59b8e6;
}
a.ico:hover { 
	text-decoration: none;
	background-color: none;
}
a.ico2:hover { 
	text-decoration: none;
	background-color: #59b8e6;
	color: #fff;
}
a.ico3:hover { 
	 color: #000;
	 text-decoration: none;
	 background-color: #DDEEFF;
	 border:1px solid #59b8e6;
}

a.accept {
	background: url(../img/default/icons/accept.png) no-repeat 0px 0px;
}
a.accept_circle {
	background: url(../img/default/icons/accept_circle.png) no-repeat 0px 0px;
}
a.add {
	background: url(../img/default/icons/add.png) no-repeat 0px 0px;
}
a.application {
	background: url(../img/default/icons/application.png) no-repeat 0px 0px;
}
a.application_cascade {
	background: url(../img/default/icons/application_cascade.png) no-repeat 0px 0px;
}
a.application_edit {
	background: url(../img/default/icons/application_edit.png) no-repeat 0px 0px;
}
a.application_error {
	background: url(../img/default/icons/application_error.png) no-repeat 0px 0px;
}
a.application_tile_horizontal {
	background: url(../img/default/icons/application_tile_horizontal.png) no-repeat 0px 0px;
}
a.application_tile_vertical {
	background: url(../img/default/icons/application_tile_vertical.png) no-repeat 0px 0px;
}
a.application_view_columns {
	background: url(../img/default/icons/application_view_columns.png) no-repeat 0px 0px;
}
a.application_view_detail {
	background: url(../img/default/icons/application_view_detail.png) no-repeat 0px 0px;
}
a.attach {
	background: url(../img/default/icons/attach.png) no-repeat 0px 0px;
}
a.award_star_gold_3 {
	background: url(../img/default/icons/award_star_gold_3.png) no-repeat 0px 0px;
}
a.book_open {
	background: url(../img/default/icons/book_open.png) no-repeat 0px 0px;
}
a.bin {
	background: url(../img/default/icons/bin.png) no-repeat 0px 0px;
}
a.bin_closed {
	background: url(../img/default/icons/bin_closed.png) no-repeat 0px 0px;
}
a.bricks {
	background: url(../img/default/icons/bricks.png) no-repeat 0px 0px;
}
a.calculator {
	background: url(../img/default/icons/calculator.png) no-repeat 0px 0px;
}
a.calendar {
	background: url(../img/default/icons/calendar.png) no-repeat 0px 0px;
}
a.cart {
	background: url(../img/default/icons/cart.png) no-repeat 0px 0px;
}
a.chart_bar {
	background: url(../img/default/icons/chart_bar.png) no-repeat 0px 0px;
}
a.chart_curve {
	background: url(../img/default/icons/chart_curve.png) no-repeat 0px 0px;
}
a.chart_line {
	background: url(../img/default/icons/chart_line.png) no-repeat 0px 0px;
}
a.chart_pie {
	background: url(../img/default/icons/chart_pie.png) no-repeat 0px 0px;
}
a.chart_clock {
	background: url(../img/default/icons/chart_clock.png) no-repeat 0px 0px;
}
a.chart_cog {
	background: url(../img/default/icons/chart_cog.png) no-repeat 0px 0px;
}
a.chart_coins {
	background: url(../img/default/icons/chart_coins.png) no-repeat 0px 0px;
}
a.clock_red {
	background: url(../img/default/icons/clock_red.png) no-repeat 0px 0px;
}
a.cog {
	background: url(../img/default/icons/cog.png) no-repeat 0px 0px;
}
a.color_swatch {
	background: url(../img/default/icons/color_swatch.png) no-repeat 0px 0px;
}
a.color_wheel {
	background: url(../img/default/icons/color_wheel.png) no-repeat 0px 0px;
}
a.comments {
	background: url(../img/default/icons/comments.png) no-repeat 0px 0px;
}
a.compress {
	background: url(../img/default/icons/compress.png) no-repeat 0px 0px;
}
a.computer {
	background: url(../img/default/icons/computer.png) no-repeat 0px 0px;
}
a.connect {
	background: url(../img/default/icons/connect.png) no-repeat 0px 0px;
}
a.control_start_blue {
	background: url(../img/default/icons/control_start_blue.png) no-repeat 0px 0px;
}
a.control_end_blue {
	background: url(../img/default/icons/control_end_blue.png) no-repeat 0px 0px;
}
a.control_fastforward_blue {
	background: url(../img/default/icons/control_fastforward_blue.png) no-repeat 0px 0px;
}
a.control_rewind_blue {
	background: url(../img/default/icons/control_rewind_blue.png) no-repeat 0px 0px;
}
a.creditcards {
	background: url(../img/default/icons/creditcards.png) no-repeat 0px 0px;
}
a.cross {
	background: url(../img/default/icons/cross.png) no-repeat 0px 0px;
}
a.cursor {
	background: url(../img/default/icons/cursor.png) no-repeat 0px 0px;
}
a.cut {
	background: url(../img/default/icons/cut.png) no-repeat 0px 0px;
}
a.date {
	background: url(../img/default/icons/date.png) no-repeat 0px 0px;
}
a.date_add {
	background: url(../img/default/icons/date_add.png) no-repeat 0px 0px;
}
a.delete {
	background: url(../img/default/icons/delete.png) no-repeat 0px 0px;
	font-size: 10px;
}
a.disconnect {
	background: url(../img/default/icons/disconnect.png) no-repeat 0px 0px;
}
a.disk {
	background: url(../img/default/icons/disk.png) no-repeat 0px 0px;
}
a.disk_multiple {
	background: url(../img/default/icons/disk_multiple.png) no-repeat 0px 0px;
}
a.email {
	background: url(../img/default/icons/email.png) no-repeat 0px 0px;
}
a.email_open_image {
	background: url(../img/default/icons/email_open_image.png) no-repeat 0px 0px;
}
a.error {
	background: url(../img/default/icons/error.png) no-repeat 0px 0px;
}
a.exclamation {
	background: url(../img/default/icons/exclamation.png) no-repeat 0px 0px;
}
a.find { 
	background: url(../img/default/icons/find.png) no-repeat 0px 0px;
}
a.folder {
	background: url(../img/default/icons/folder.png) no-repeat 0px 0px;
}
a.folder_add {
	background: url(../img/default/icons/folder_add.png) no-repeat 0px 0px;
}
a.group {
	background: url(../img/default/icons/group.png) no-repeat 0px 0px;
}
a.help {
	background: url(../img/default/icons/help.png) no-repeat 0px 0px;
}
a.house {
	background: url(../img/default/icons/house.png) no-repeat 0px 0px;
}
a.image {
	background: url(../img/default/icons/image.png) no-repeat 0px 0px;
}
a.images {
	background: url(../img/default/icons/images.png) no-repeat 0px 0px;
}
a.information {
	background: url(../img/default/icons/information.png) no-repeat 0px 0px;
}
a.key {
	background: url(../img/default/icons/key.png) no-repeat 0px 0px;
}
a.keyboard {
	background: url(../img/default/icons/keyboard.png) no-repeat 0px 0px;
}
a.layers {
	background: url(../img/default/icons/layers.png) no-repeat 0px 0px;
}
a.layout {
	background: url(../img/default/icons/layout.png) no-repeat 0px 0px;
}
a.link {
	background: url(../img/default/icons/link.png) no-repeat 0px 0px;
}
a.lock {
	background: url(../img/default/icons/lock.png) no-repeat 0px 0px;
}
a.lock_open {
	background: url(../img/default/icons/lock_open.png) no-repeat 0px 0px;
}
a.lorry {
	background: url(../img/default/icons/lorry.png) no-repeat 0px 0px;
}
a.magnifier {
	background: url(../img/default/icons/magnifier.png) no-repeat 0px 0px;
}
a.map {
	background: url(../img/default/icons/map.png) no-repeat 0px 0px;
}
a.money {
	background: url(../img/default/icons/money.png) no-repeat 0px 0px;
}
a.money_euro {
	background: url(../img/default/icons/money_euro.png) no-repeat 0px 0px;
}
a.monitor {
	background: url(../img/default/icons/monitor.png) no-repeat 0px 0px;
}
a.mouse {
	background: url(../img/default/icons/mouse.png) no-repeat 0px 0px;
}
a.new {
	background: url(../img/default/icons/new.png) no-repeat 0px 0px;
}
a.newspaper {
	background: url(../img/default/icons/newspaper.png) no-repeat 0px 0px;
}
a.note {
	background: url(../img/default/icons/note.png) no-repeat 0px 0px;
}
a.package {
	background: url(../img/default/icons/package.png) no-repeat 0px 0px;
}
a.package_add {
	background: url(../img/default/icons/package_add.png) no-repeat 0px 0px;
}
a.package_green {
	background: url(../img/default/icons/package_green.png) no-repeat 0px 0px;
}
a.page {
	background: url(../img/default/icons/page.png) no-repeat 0px 0px;
}
a.page_paste {
	background: url(../img/default/icons/page_paste.png) no-repeat 0px 0px;
}
a.page_white_acrobat {
	background: url(../img/default/icons/page_white_acrobat.png) no-repeat 0px 0px;
}
a.page_white_actionscript {
	background: url(../img/default/icons/page_white_actionscript.png) no-repeat 0px 0px;
}
a.page_excel {
	background: url(../img/default/icons/page_excel.png) no-repeat 0px 0px;
}
a.paste_plain {
	background: url(../img/default/icons/paste_plain.png) no-repeat 0px 0px;
}
a.pencil {
	background: url(../img/default/icons/pencil.png) no-repeat 0px 0px;
}
a.plugin {
	background: url(../img/default/icons/plugin.png) no-repeat 0px 0px;
}
a.printer {
	background: url(../img/default/icons/printer.png) no-repeat 0px 0px;
}
a.report {
	background: url(../img/default/icons/report.png) no-repeat 0px 0px;
}
a.resultset_first {
	background: url(../img/default/icons/resultset_first.png) no-repeat 0px 0px;
}
a.resultset_last {
	background: url(../img/default/icons/resultset_last.png) no-repeat 0px 0px;
}
a.resultset_next {
	background: url(../img/default/icons/resultset_next.png) no-repeat 0px 0px;
}
a.resultset_previous {
	background: url(../img/default/icons/resultset_previous.png) no-repeat 0px 0px;
}
a.report {
	background: url(../img/default/icons/report.png) no-repeat 0px 0px;
}
a.server {
	background: url(../img/default/icons/server.png) no-repeat 0px 0px;
}
a.shopware {
	background: url(../img/default/icons/shopware.png) no-repeat 0px 0px;
}
a.sitemap {
	background: url(../img/default/icons/sitemap.png) no-repeat 0px 0px;
}
a.star {
	background: url(../img/default/icons/star.png) no-repeat 0px 0px;
}
a.status_offline {
	background: url(../img/default/icons/status_offline.png) no-repeat 0px 0px;
}
a.status_online {
	background: url(../img/default/icons/status_online.png) no-repeat 0px 0px;
}
a.stop {
	background: url(../img/default/icons/stop.png) no-repeat 0px 0px;
}
a.table {
	background: url(../img/default/icons/table.png) no-repeat 0px 0px;
}
a.telephone {
	background: url(../img/default/icons/telephone.png) no-repeat 0px 0px;
}
a.tick {
	background: url(../img/default/icons/tick.png) no-repeat 0px 0px;
}
a.transmit_blue {
	background: url(../img/default/icons/transmit_blue.png) no-repeat 0px 0px;
}
a.report {
	background: url(../img/default/icons/report.png) no-repeat 0px 0px;
}
a.time {
	background: url(../img/default/icons/time.png) no-repeat 0px 0px;
}
a.user {
	background: url(../img/default/icons/user.png) no-repeat 0px 0px;
}
a.user_add {
	background: url(../img/default/icons/user_add.png) no-repeat 0px 0px;
}
a.user_edit {
	background: url(../img/default/icons/user_edit.png) no-repeat 0px 0px;
}
a.vcard {
	background: url(../img/default/icons/vcard.png) no-repeat 0px 0px;
}
a.world {
	background: url(../img/default/icons/world.png) no-repeat 0px 0px;
}
a.world_link {
	background: url(../img/default/icons/world_link.png) no-repeat 0px 0px;
}
a.wrench {
	background: url(../img/default/icons/wrench.png) no-repeat 0px 0px;
}	
a.zoom {
	background: url(../img/default/icons/zoom.png) no-repeat 0px 0px;
}	

/*Fenster */
a.minimieren {
	background: url(../img/default/icons/minimieren.png) no-repeat 0px 0px;
}
a.schliessen {
	background: url(../img/default/icons/schliessen.png) no-repeat 0px 0px;
}

.package_add {background-image: url(../img/default/icons/package_add.png)  !important;}
