/*
	Zuletzt bearbeitet:		Sebastian Hamann
	Datum:					18.04.2007
------------------------------------------------------------------*/
/* Just the following code construction

__________________01. ICONS



------------------------------------------------------------------*/

/* 01. ICONS
------------------------------------------------------------------*/
a.ico {

}
a.ico2, a.ico2:active, a.ico2:visited, a.ico2:link {
	color: #636363;
	text-decoration: none;
	display: block;
	padding: 2px 0 2px 25px;
}
a.ico3, a.ico3:active, a.ico3:visited, a.ico3:link {
	color: #000;
	text-decoration: none;
	display: block;
	padding: 2px 0 2px 25px;
	border:1px solid #e9e9e9;
}
a.ico3:hover { 
	 color: #000;
	 text-decoration: none;
	 background-color: #DDEEFF;
	 border:1px solid #59b8e6;
}
a.ico:hover { 
	text-decoration: none;
	background-color: none;
}
a.ico2:hover { 
	text-decoration: none;
	background-color: #59b8e6;
	color: #fff;
}
a.ico3:hover { 
	 color: #000;
	 text-decoration: none;
	 background-color: #DDEEFF;
	 border:1px solid #59b8e6;
}

a.add_grey { background: url(../img/default/icons4/add_grey.png) no-repeat 0px 0px;}
a.address_book { background: url(../img/default/icons4/address_book.png) no-repeat 0px 0px;}
a.address_book_arrow { background: url(../img/default/icons4/address_book_arrow.png) no-repeat 0px 0px;}
a.address_book_exclamation { background: url(../img/default/icons4/address_book_exclamation.png) no-repeat 0px 0px;}
a.address_book_minus { background: url(../img/default/icons4/address_book_minus.png) no-repeat 0px 0px;}
a.address_book_pencil { background: url(../img/default/icons4/address_book_pencil.png) no-repeat 0px 0px;}
a.address_book_plus { background: url(../img/default/icons4/address_book_plus.png) no-repeat 0px 0px;}
a.arrow { background: url(../img/default/icons4/arrow.png) no-repeat 0px 0px;}
a.arrow_045 { background: url(../img/default/icons4/arrow_045.png) no-repeat 0px 0px;}
a.arrow_090 { background: url(../img/default/icons4/arrow_090.png) no-repeat 0px 0px;}
a.arrow_135 { background: url(../img/default/icons4/arrow_135.png) no-repeat 0px 0px;}
a.arrow_180 { background: url(../img/default/icons4/arrow_180.png) no-repeat 0px 0px;}
a.arrow_225 { background: url(../img/default/icons4/arrow_225.png) no-repeat 0px 0px;}
a.arrow_270 { background: url(../img/default/icons4/arrow_270.png) no-repeat 0px 0px;}
a.arrow_315 { background: url(../img/default/icons4/arrow_315.png) no-repeat 0px 0px;}
a.arrow_all_in { background: url(../img/default/icons4/arrow_all_in.png) no-repeat 0px 0px;}
a.arrow_all_out { background: url(../img/default/icons4/arrow_all_out.png) no-repeat 0px 0px;}
a.arrow_circle { background: url(../img/default/icons4/arrow_circle.png) no-repeat 0px 0px;}
a.arrow_circle_135 { background: url(../img/default/icons4/arrow_circle_135.png) no-repeat 0px 0px;}
a.arrow_circle_225 { background: url(../img/default/icons4/arrow_circle_225.png) no-repeat 0px 0px;}
a.arrow_circle_315 { background: url(../img/default/icons4/arrow_circle_315.png) no-repeat 0px 0px;}
a.arrow_circle_double { background: url(../img/default/icons4/arrow_circle_double.png) no-repeat 0px 0px;}
a.arrow_circle_double_135 { background: url(../img/default/icons4/arrow_circle_double_135.png) no-repeat 0px 0px;}
a.arrow_down { background: url(../img/default/icons4/arrow_down.png) no-repeat 0px 0px;}
a.arrow_down2 { background: url(../img/default/icons4/arrow_down2.png) no-repeat 0px 0px;}
a.arrow_down_green { background: url(../img/default/icons4/arrow_down_green.png) no-repeat 0px 0px;}
a.arrow_down_green2 { background: url(../img/default/icons4/arrow_down_green2.png) no-repeat 0px 0px;}
a.arrow_down_green3 { background: url(../img/default/icons4/arrow_down_green3.png) no-repeat 0px 0px;}
a.arrow_down_green4 { background: url(../img/default/icons4/arrow_down_green4.png) no-repeat 0px 0px;}
a.arrow_left1 { background: url(../img/default/icons4/arrow_left1.png) no-repeat 0px 0px;}
a.arrow_left_down { background: url(../img/default/icons4/arrow_left_down.png) no-repeat 0px 0px;}
a.arrow_left_green { background: url(../img/default/icons4/arrow_left_green.png) no-repeat 0px 0px;}
a.arrow_left_green4 { background: url(../img/default/icons4/arrow_left_green4.png) no-repeat 0px 0px;}
a.arrow_leftright_blue { background: url(../img/default/icons4/arrow_leftright_blue.png) no-repeat 0px 0px;}
a.arrow_leftright_red { background: url(../img/default/icons4/arrow_leftright_red.png) no-repeat 0px 0px;}
a.arrow_leftup { background: url(../img/default/icons4/arrow_leftup.png) no-repeat 0px 0px;}
a.arrow_right1 { background: url(../img/default/icons4/arrow_right1.png) no-repeat 0px 0px;}
a.arrow_right_down { background: url(../img/default/icons4/arrow_right_down.png) no-repeat 0px 0px;}
a.arrow_right_green { background: url(../img/default/icons4/arrow_right_green.png) no-repeat 0px 0px;}
a.arrow_right_green4 { background: url(../img/default/icons4/arrow_right_green4.png) no-repeat 0px 0px;}
a.arrow_right_up { background: url(../img/default/icons4/arrow_right_up.png) no-repeat 0px 0px;}
a.arrow_skip { background: url(../img/default/icons4/arrow_skip.png) no-repeat 0px 0px;}
a.arrow_skip_090 { background: url(../img/default/icons4/arrow_skip_090.png) no-repeat 0px 0px;}
a.arrow_skip_180 { background: url(../img/default/icons4/arrow_skip_180.png) no-repeat 0px 0px;}
a.arrow_skip_270 { background: url(../img/default/icons4/arrow_skip_270.png) no-repeat 0px 0px;}
a.arrow_stop { background: url(../img/default/icons4/arrow_stop.png) no-repeat 0px 0px;}
a.arrow_stop_090 { background: url(../img/default/icons4/arrow_stop_090.png) no-repeat 0px 0px;}
a.arrow_stop_180 { background: url(../img/default/icons4/arrow_stop_180.png) no-repeat 0px 0px;}
a.arrow_stop_270 { background: url(../img/default/icons4/arrow_stop_270.png) no-repeat 0px 0px;}
a.arrow_up { background: url(../img/default/icons4/arrow_up.png) no-repeat 0px 0px;}
a.arrow_up1 { background: url(../img/default/icons4/arrow_up1.png) no-repeat 0px 0px;}
a.arrow_up2 { background: url(../img/default/icons4/arrow_up2.png) no-repeat 0px 0px;}
a.arrow_up_green { background: url(../img/default/icons4/arrow_up_green.png) no-repeat 0px 0px;}
a.arrow_up_green2 { background: url(../img/default/icons4/arrow_up_green2.png) no-repeat 0px 0px;}
a.arrow_up_green3 { background: url(../img/default/icons4/arrow_up_green3.png) no-repeat 0px 0px;}
a.arrow_up_green4 { background: url(../img/default/icons4/arrow_up_green4.png) no-repeat 0px 0px;}
a.arrowskip_left { background: url(../img/default/icons4/arrowskip_left.png) no-repeat 0px 0px;}
a.arrowskip_right { background: url(../img/default/icons4/arrowskip_right.png) no-repeat 0px 0px;}
a.attach { background: url(../img/default/icons4/attach.png) no-repeat 0px 0px;}
a.back { background: url(../img/default/icons4/back.png) no-repeat 0px 0px;}
a.balloon { background: url(../img/default/icons4/balloon.png) no-repeat 0px 0px;}
a.balloon_arrow { background: url(../img/default/icons4/balloon_arrow.png) no-repeat 0px 0px;}
a.balloon_exclamation { background: url(../img/default/icons4/balloon_exclamation.png) no-repeat 0px 0px;}
a.balloon_left { background: url(../img/default/icons4/balloon_left.png) no-repeat 0px 0px;}
a.balloon_minus { background: url(../img/default/icons4/balloon_minus.png) no-repeat 0px 0px;}
a.balloon_pencil { background: url(../img/default/icons4/balloon_pencil.png) no-repeat 0px 0px;}
a.balloon_plus { background: url(../img/default/icons4/balloon_plus.png) no-repeat 0px 0px;}
a.balloons { background: url(../img/default/icons4/balloons.png) no-repeat 0px 0px;}
a.balloons_arrow { background: url(../img/default/icons4/balloons_arrow.png) no-repeat 0px 0px;}
a.balloons_exclamation { background: url(../img/default/icons4/balloons_exclamation.png) no-repeat 0px 0px;}
a.balloons_minus { background: url(../img/default/icons4/balloons_minus.png) no-repeat 0px 0px;}
a.balloons_pencil { background: url(../img/default/icons4/balloons_pencil.png) no-repeat 0px 0px;}
a.balloons_plus { background: url(../img/default/icons4/balloons_plus.png) no-repeat 0px 0px;}
a.basket_empty { background: url(../img/default/icons4/basket_empty.png) no-repeat 0px 0px;}
a.basket_full { background: url(../img/default/icons4/basket_full.png) no-repeat 0px 0px;}
a.binocular { background: url(../img/default/icons4/binocular.png) no-repeat 0px 0px;}
a.binocular_arrow { background: url(../img/default/icons4/binocular_arrow.png) no-repeat 0px 0px;}
a.binocular_exclamation { background: url(../img/default/icons4/binocular_exclamation.png) no-repeat 0px 0px;}
a.binocular_minus { background: url(../img/default/icons4/binocular_minus.png) no-repeat 0px 0px;}
a.binocular_pencil { background: url(../img/default/icons4/binocular_pencil.png) no-repeat 0px 0px;}
a.binocular_plus { background: url(../img/default/icons4/binocular_plus.png) no-repeat 0px 0px;}
a.blog { background: url(../img/default/icons4/blog.png) no-repeat 0px 0px;}
a.blog__arrow { background: url(../img/default/icons4/blog__arrow.png) no-repeat 0px 0px;}
a.blog__exclamation { background: url(../img/default/icons4/blog__exclamation.png) no-repeat 0px 0px;}
a.blog__minus { background: url(../img/default/icons4/blog__minus.png) no-repeat 0px 0px;}
a.blog__pencil { background: url(../img/default/icons4/blog__pencil.png) no-repeat 0px 0px;}
a.blog__plus { background: url(../img/default/icons4/blog__plus.png) no-repeat 0px 0px;}
a.blog_blue { background: url(../img/default/icons4/blog_blue.png) no-repeat 0px 0px;}
a.blogs { background: url(../img/default/icons4/blogs.png) no-repeat 0px 0px;}
a.blogs_arrow { background: url(../img/default/icons4/blogs_arrow.png) no-repeat 0px 0px;}
a.blogs_exclamation { background: url(../img/default/icons4/blogs_exclamation.png) no-repeat 0px 0px;}
a.blogs_minus { background: url(../img/default/icons4/blogs_minus.png) no-repeat 0px 0px;}
a.blogs_pencil { background: url(../img/default/icons4/blogs_pencil.png) no-repeat 0px 0px;}
a.blogs_plus { background: url(../img/default/icons4/blogs_plus.png) no-repeat 0px 0px;}
a.blogs_stack { background: url(../img/default/icons4/blogs_stack.png) no-repeat 0px 0px;}
a.bubble { background: url(../img/default/icons4/bubble.png) no-repeat 0px 0px;}
a.bubble01 { background: url(../img/default/icons4/bubble01.png) no-repeat 0px 0px;}
a.bubble02 { background: url(../img/default/icons4/bubble02.png) no-repeat 0px 0px;}
a.bulb_off { background: url(../img/default/icons4/bulb_off.png) no-repeat 0px 0px;}
a.bulb_on { background: url(../img/default/icons4/bulb_on.png) no-repeat 0px 0px;}
a.calculator_plus { background: url(../img/default/icons4/calculator_plus.png) no-repeat 0px 0px;}
a.calendar { background: url(../img/default/icons4/calendar.png) no-repeat 0px 0px;}
a.calendar_arrow { background: url(../img/default/icons4/calendar_arrow.png) no-repeat 0px 0px;}
a.calendar_day { background: url(../img/default/icons4/calendar_day.png) no-repeat 0px 0px;}
a.calendar_exclamation { background: url(../img/default/icons4/calendar_exclamation.png) no-repeat 0px 0px;}
a.calendar_minus { background: url(../img/default/icons4/calendar_minus.png) no-repeat 0px 0px;}
a.calendar_month { background: url(../img/default/icons4/calendar_month.png) no-repeat 0px 0px;}
a.calendar_pencil { background: url(../img/default/icons4/calendar_pencil.png) no-repeat 0px 0px;}
a.calendar_plus { background: url(../img/default/icons4/calendar_plus.png) no-repeat 0px 0px;}
a.card { background: url(../img/default/icons4/card.png) no-repeat 0px 0px;}
a.card_address { background: url(../img/default/icons4/card_address.png) no-repeat 0px 0px;}
a.card_arrow { background: url(../img/default/icons4/card_arrow.png) no-repeat 0px 0px;}
a.card_exclamation { background: url(../img/default/icons4/card_exclamation.png) no-repeat 0px 0px;}
a.card_minus { background: url(../img/default/icons4/card_minus.png) no-repeat 0px 0px;}
a.card_pencil { background: url(../img/default/icons4/card_pencil.png) no-repeat 0px 0px;}
a.card_plus { background: url(../img/default/icons4/card_plus.png) no-repeat 0px 0px;}
a.card_small { background: url(../img/default/icons4/card_small.png) no-repeat 0px 0px;}
a.cards { background: url(../img/default/icons4/cards.png) no-repeat 0px 0px;}
a.cards_address { background: url(../img/default/icons4/cards_address.png) no-repeat 0px 0px;}
a.cards_arrow { background: url(../img/default/icons4/cards_arrow.png) no-repeat 0px 0px;}
a.cards_exclamation { background: url(../img/default/icons4/cards_exclamation.png) no-repeat 0px 0px;}
a.cards_minus { background: url(../img/default/icons4/cards_minus.png) no-repeat 0px 0px;}
a.cards_pencil { background: url(../img/default/icons4/cards_pencil.png) no-repeat 0px 0px;}
a.cards_plus { background: url(../img/default/icons4/cards_plus.png) no-repeat 0px 0px;}
a.cards_stack { background: url(../img/default/icons4/cards_stack.png) no-repeat 0px 0px;}
a.chain { background: url(../img/default/icons4/chain.png) no-repeat 0px 0px;}
a.chain_arrow { background: url(../img/default/icons4/chain_arrow.png) no-repeat 0px 0px;}
a.chain_exclamation { background: url(../img/default/icons4/chain_exclamation.png) no-repeat 0px 0px;}
a.chain_minus { background: url(../img/default/icons4/chain_minus.png) no-repeat 0px 0px;}
a.chain_pencil { background: url(../img/default/icons4/chain_pencil.png) no-repeat 0px 0px;}
a.chain_plus { background: url(../img/default/icons4/chain_plus.png) no-repeat 0px 0px;}
a.chain_small { background: url(../img/default/icons4/chain_small.png) no-repeat 0px 0px;}
a.chain_unchain { background: url(../img/default/icons4/chain_unchain.png) no-repeat 0px 0px;}
a.chart_bar01 { background: url(../img/default/icons4/chart_bar01.png) no-repeat 0px 0px;}
a.chart_bar02 { background: url(../img/default/icons4/chart_bar02.png) no-repeat 0px 0px;}
a.chart_curve1 { background: url(../img/default/icons4/chart_curve1.png) no-repeat 0px 0px;}
a.chart_pie1 { background: url(../img/default/icons4/chart_pie1.png) no-repeat 0px 0px;}
a.clipboard { background: url(../img/default/icons4/clipboard.png) no-repeat 0px 0px;}
a.clipboard_arrow { background: url(../img/default/icons4/clipboard_arrow.png) no-repeat 0px 0px;}
a.clipboard_empty { background: url(../img/default/icons4/clipboard_empty.png) no-repeat 0px 0px;}
a.clipboard_exclamation { background: url(../img/default/icons4/clipboard_exclamation.png) no-repeat 0px 0px;}
a.clipboard_minus { background: url(../img/default/icons4/clipboard_minus.png) no-repeat 0px 0px;}
a.clipboard_pencil { background: url(../img/default/icons4/clipboard_pencil.png) no-repeat 0px 0px;}
a.clipboard_plus { background: url(../img/default/icons4/clipboard_plus.png) no-repeat 0px 0px;}
a.clipboard_text { background: url(../img/default/icons4/clipboard_text.png) no-repeat 0px 0px;}
a.clock_small { background: url(../img/default/icons4/clock_small.png) no-repeat 0px 0px;}
a.cog1 { background: url(../img/default/icons4/cog1.png) no-repeat 0px 0px;}
a.color { background: url(../img/default/icons4/color.png) no-repeat 0px 0px;}
a.color_arrow { background: url(../img/default/icons4/color_arrow.png) no-repeat 0px 0px;}
a.color_exclamation { background: url(../img/default/icons4/color_exclamation.png) no-repeat 0px 0px;}
a.color_minus { background: url(../img/default/icons4/color_minus.png) no-repeat 0px 0px;}
a.color_pencil { background: url(../img/default/icons4/color_pencil.png) no-repeat 0px 0px;}
a.color_plus { background: url(../img/default/icons4/color_plus.png) no-repeat 0px 0px;}
a.color_small { background: url(../img/default/icons4/color_small.png) no-repeat 0px 0px;}
a.cross { background: url(../img/default/icons4/cross.png) no-repeat 0px 0px;}
a.cross_small { background: url(../img/default/icons4/cross_small.png) no-repeat 0px 0px;}
a.database { background: url(../img/default/icons4/database.png) no-repeat 0px 0px;}
a.database_arrow { background: url(../img/default/icons4/database_arrow.png) no-repeat 0px 0px;}
a.database_exclamation { background: url(../img/default/icons4/database_exclamation.png) no-repeat 0px 0px;}
a.database_minus { background: url(../img/default/icons4/database_minus.png) no-repeat 0px 0px;}
a.database_pencil { background: url(../img/default/icons4/database_pencil.png) no-repeat 0px 0px;}
a.database_plus { background: url(../img/default/icons4/database_plus.png) no-repeat 0px 0px;}
a.database_small { background: url(../img/default/icons4/database_small.png) no-repeat 0px 0px;}
a.databases { background: url(../img/default/icons4/databases.png) no-repeat 0px 0px;}
a.databases_arrow { background: url(../img/default/icons4/databases_arrow.png) no-repeat 0px 0px;}
a.databases_exclamation { background: url(../img/default/icons4/databases_exclamation.png) no-repeat 0px 0px;}
a.databases_minus { background: url(../img/default/icons4/databases_minus.png) no-repeat 0px 0px;}
a.databases_pencil { background: url(../img/default/icons4/databases_pencil.png) no-repeat 0px 0px;}
a.databases_plus { background: url(../img/default/icons4/databases_plus.png) no-repeat 0px 0px;}
a.date1 { background: url(../img/default/icons4/date1.png) no-repeat 0px 0px;}
a.date2 { background: url(../img/default/icons4/date2.png) no-repeat 0px 0px;}
a.delete1 { background: url(../img/default/icons4/delete1.png) no-repeat 0px 0px;}
a.delete2 { background: url(../img/default/icons4/delete2.png) no-repeat 0px 0px;}
a.disc { background: url(../img/default/icons4/disc.png) no-repeat 0px 0px;}
a.discblack { background: url(../img/default/icons4/discblack.png) no-repeat 0px 0px;}
a.discs { background: url(../img/default/icons4/discs.png) no-repeat 0px 0px;}
a.disk { background: url(../img/default/icons4/disk.png) no-repeat 0px 0px;}
a.disk_arrow { background: url(../img/default/icons4/disk_arrow.png) no-repeat 0px 0px;}
a.disk_black { background: url(../img/default/icons4/disk_black.png) no-repeat 0px 0px;}
a.disk_exclamation { background: url(../img/default/icons4/disk_exclamation.png) no-repeat 0px 0px;}
a.disk_minus { background: url(../img/default/icons4/disk_minus.png) no-repeat 0px 0px;}
a.disk_pencil { background: url(../img/default/icons4/disk_pencil.png) no-repeat 0px 0px;}
a.disk_plus { background: url(../img/default/icons4/disk_plus.png) no-repeat 0px 0px;}
a.disk_small { background: url(../img/default/icons4/disk_small.png) no-repeat 0px 0px;}
a.disk_small_black { background: url(../img/default/icons4/disk_small_black.png) no-repeat 0px 0px;}
a.disks { background: url(../img/default/icons4/disks.png) no-repeat 0px 0px;}
a.disks_arrow { background: url(../img/default/icons4/disks_arrow.png) no-repeat 0px 0px;}
a.disks_black { background: url(../img/default/icons4/disks_black.png) no-repeat 0px 0px;}
a.disks_exclamation { background: url(../img/default/icons4/disks_exclamation.png) no-repeat 0px 0px;}
a.disks_minus { background: url(../img/default/icons4/disks_minus.png) no-repeat 0px 0px;}
a.disks_pencil { background: url(../img/default/icons4/disks_pencil.png) no-repeat 0px 0px;}
a.disks_plus { background: url(../img/default/icons4/disks_plus.png) no-repeat 0px 0px;}
a.document { background: url(../img/default/icons4/document.png) no-repeat 0px 0px;}
a.document_arrow { background: url(../img/default/icons4/document_arrow.png) no-repeat 0px 0px;}
a.document_exclamation { background: url(../img/default/icons4/document_exclamation.png) no-repeat 0px 0px;}
a.document_horizontal { background: url(../img/default/icons4/document_horizontal.png) no-repeat 0px 0px;}
a.document_horizontal_text { background: url(../img/default/icons4/document_horizontal_text.png) no-repeat 0px 0px;}
a.document_minus { background: url(../img/default/icons4/document_minus.png) no-repeat 0px 0px;}
a.document_music { background: url(../img/default/icons4/document_music.png) no-repeat 0px 0px;}
a.document_music_playlist { background: url(../img/default/icons4/document_music_playlist.png) no-repeat 0px 0px;}
a.document_pencil { background: url(../img/default/icons4/document_pencil.png) no-repeat 0px 0px;}
a.document_plus { background: url(../img/default/icons4/document_plus.png) no-repeat 0px 0px;}
a.document_shred { background: url(../img/default/icons4/document_shred.png) no-repeat 0px 0px;}
a.document_small { background: url(../img/default/icons4/document_small.png) no-repeat 0px 0px;}
a.document_text { background: url(../img/default/icons4/document_text.png) no-repeat 0px 0px;}
a.document_text_image { background: url(../img/default/icons4/document_text_image.png) no-repeat 0px 0px;}
a.document_zipper { background: url(../img/default/icons4/document_zipper.png) no-repeat 0px 0px;}
a.documents { background: url(../img/default/icons4/documents.png) no-repeat 0px 0px;}
a.documents_arrow { background: url(../img/default/icons4/documents_arrow.png) no-repeat 0px 0px;}
a.documents_exclamation { background: url(../img/default/icons4/documents_exclamation.png) no-repeat 0px 0px;}
a.documents_minus { background: url(../img/default/icons4/documents_minus.png) no-repeat 0px 0px;}
a.documents_pencil { background: url(../img/default/icons4/documents_pencil.png) no-repeat 0px 0px;}
a.documents_plus { background: url(../img/default/icons4/documents_plus.png) no-repeat 0px 0px;}
a.documents_stack { background: url(../img/default/icons4/documents_stack.png) no-repeat 0px 0px;}
a.documents_text { background: url(../img/default/icons4/documents_text.png) no-repeat 0px 0px;}
a.down { background: url(../img/default/icons4/down.png) no-repeat 0px 0px;}
a.email { background: url(../img/default/icons4/email.png) no-repeat 0px 0px;}
a.email2 { background: url(../img/default/icons4/email2.png) no-repeat 0px 0px;}
a.email2_open { background: url(../img/default/icons4/email2_open.png) no-repeat 0px 0px;}
a.email_open { background: url(../img/default/icons4/email_open.png) no-repeat 0px 0px;}
a.envelope { background: url(../img/default/icons4/envelope.png) no-repeat 0px 0px;}
a.envelope_arrow { background: url(../img/default/icons4/envelope_arrow.png) no-repeat 0px 0px;}
a.envelope_exclamation { background: url(../img/default/icons4/envelope_exclamation.png) no-repeat 0px 0px;}
a.envelope_minus { background: url(../img/default/icons4/envelope_minus.png) no-repeat 0px 0px;}
a.envelope_pencil { background: url(../img/default/icons4/envelope_pencil.png) no-repeat 0px 0px;}
a.envelope_plus { background: url(../img/default/icons4/envelope_plus.png) no-repeat 0px 0px;}
a.equalizer { background: url(../img/default/icons4/equalizer.png) no-repeat 0px 0px;}
a.equalizer_arrow { background: url(../img/default/icons4/equalizer_arrow.png) no-repeat 0px 0px;}
a.equalizer_exclamation { background: url(../img/default/icons4/equalizer_exclamation.png) no-repeat 0px 0px;}
a.equalizer_minus { background: url(../img/default/icons4/equalizer_minus.png) no-repeat 0px 0px;}
a.equalizer_pencil { background: url(../img/default/icons4/equalizer_pencil.png) no-repeat 0px 0px;}
a.equalizer_plus { background: url(../img/default/icons4/equalizer_plus.png) no-repeat 0px 0px;}
a.error1 { background: url(../img/default/icons4/error1.png) no-repeat 0px 0px;}
a.exclamation { background: url(../img/default/icons4/exclamation.png) no-repeat 0px 0px;}
a.exclamation_frame { background: url(../img/default/icons4/exclamation_frame.png) no-repeat 0px 0px;}
a.exclamation_shield { background: url(../img/default/icons4/exclamation_shield.png) no-repeat 0px 0px;}
a.exclamation_small { background: url(../img/default/icons4/exclamation_small.png) no-repeat 0px 0px;}
a.feed { background: url(../img/default/icons4/feed.png) no-repeat 0px 0px;}
a.feed2 { background: url(../img/default/icons4/feed2.png) no-repeat 0px 0px;}
a.feed_arrow { background: url(../img/default/icons4/feed_arrow.png) no-repeat 0px 0px;}
a.feed_balloon { background: url(../img/default/icons4/feed_balloon.png) no-repeat 0px 0px;}
a.feed_exclamation { background: url(../img/default/icons4/feed_exclamation.png) no-repeat 0px 0px;}
a.feed_minus { background: url(../img/default/icons4/feed_minus.png) no-repeat 0px 0px;}
a.feed_pencil { background: url(../img/default/icons4/feed_pencil.png) no-repeat 0px 0px;}
a.feed_plus { background: url(../img/default/icons4/feed_plus.png) no-repeat 0px 0px;}
a.feed_small { background: url(../img/default/icons4/feed_small.png) no-repeat 0px 0px;}
a.filter { background: url(../img/default/icons4/filter.png) no-repeat 0px 0px;}
a.flag_blue { background: url(../img/default/icons4/flag_blue.png) no-repeat 0px 0px;}
a.flag_green { background: url(../img/default/icons4/flag_green.png) no-repeat 0px 0px;}
a.flag_orange { background: url(../img/default/icons4/flag_orange.png) no-repeat 0px 0px;}
a.flag_purple { background: url(../img/default/icons4/flag_purple.png) no-repeat 0px 0px;}
a.flag_purple2 { background: url(../img/default/icons4/flag_purple2.png) no-repeat 0px 0px;}
a.flag_red { background: url(../img/default/icons4/flag_red.png) no-repeat 0px 0px;}
a.flag_yellow { background: url(../img/default/icons4/flag_yellow.png) no-repeat 0px 0px;}
a.folder { background: url(../img/default/icons4/folder.png) no-repeat 0px 0px;}
a.folder_arrow { background: url(../img/default/icons4/folder_arrow.png) no-repeat 0px 0px;}
a.folder_exclamation { background: url(../img/default/icons4/folder_exclamation.png) no-repeat 0px 0px;}
a.folder_minus { background: url(../img/default/icons4/folder_minus.png) no-repeat 0px 0px;}
a.folder_open { background: url(../img/default/icons4/folder_open.png) no-repeat 0px 0px;}
a.folder_open_document { background: url(../img/default/icons4/folder_open_document.png) no-repeat 0px 0px;}
a.folder_open_document_music { background: url(../img/default/icons4/folder_open_document_music.png) no-repeat 0px 0px;}
a.folder_open_document_music_playlist { background: url(../img/default/icons4/folder_open_document_music_playlist.png) no-repeat 0px 0px;}
a.folder_open_document_text { background: url(../img/default/icons4/folder_open_document_text.png) no-repeat 0px 0px;}
a.folder_open_film { background: url(../img/default/icons4/folder_open_film.png) no-repeat 0px 0px;}
a.folder_open_image { background: url(../img/default/icons4/folder_open_image.png) no-repeat 0px 0px;}
a.folder_pencil { background: url(../img/default/icons4/folder_pencil.png) no-repeat 0px 0px;}
a.folder_plus { background: url(../img/default/icons4/folder_plus.png) no-repeat 0px 0px;}
a.folder_shred { background: url(../img/default/icons4/folder_shred.png) no-repeat 0px 0px;}
a.folder_small { background: url(../img/default/icons4/folder_small.png) no-repeat 0px 0px;}
a.folder_zipper { background: url(../img/default/icons4/folder_zipper.png) no-repeat 0px 0px;}
a.folders { background: url(../img/default/icons4/folders.png) no-repeat 0px 0px;}
a.folders_arrow { background: url(../img/default/icons4/folders_arrow.png) no-repeat 0px 0px;}
a.folders_exclamation { background: url(../img/default/icons4/folders_exclamation.png) no-repeat 0px 0px;}
a.folders_minus { background: url(../img/default/icons4/folders_minus.png) no-repeat 0px 0px;}
a.folders_pencil { background: url(../img/default/icons4/folders_pencil.png) no-repeat 0px 0px;}
a.folders_plus { background: url(../img/default/icons4/folders_plus.png) no-repeat 0px 0px;}
a.folders_stack { background: url(../img/default/icons4/folders_stack.png) no-repeat 0px 0px;}
a.forbidden { background: url(../img/default/icons4/forbidden.png) no-repeat 0px 0px;}
a.forward { background: url(../img/default/icons4/forward.png) no-repeat 0px 0px;}
a.gear { background: url(../img/default/icons4/gear.png) no-repeat 0px 0px;}
a.gear_arrow { background: url(../img/default/icons4/gear_arrow.png) no-repeat 0px 0px;}
a.gear_disable { background: url(../img/default/icons4/gear_disable.png) no-repeat 0px 0px;}
a.gear_exclamation { background: url(../img/default/icons4/gear_exclamation.png) no-repeat 0px 0px;}
a.gear_minus { background: url(../img/default/icons4/gear_minus.png) no-repeat 0px 0px;}
a.gear_pencil { background: url(../img/default/icons4/gear_pencil.png) no-repeat 0px 0px;}
a.gear_plus { background: url(../img/default/icons4/gear_plus.png) no-repeat 0px 0px;}
a.home { background: url(../img/default/icons4/home.png) no-repeat 0px 0px;}
a.home_arrow { background: url(../img/default/icons4/home_arrow.png) no-repeat 0px 0px;}
a.home_exclamation { background: url(../img/default/icons4/home_exclamation.png) no-repeat 0px 0px;}
a.home_minus { background: url(../img/default/icons4/home_minus.png) no-repeat 0px 0px;}
a.home_pencil { background: url(../img/default/icons4/home_pencil.png) no-repeat 0px 0px;}
a.home_plus { background: url(../img/default/icons4/home_plus.png) no-repeat 0px 0px;}
a.house1 { background: url(../img/default/icons4/house1.png) no-repeat 0px 0px;}
a.image { background: url(../img/default/icons4/image.png) no-repeat 0px 0px;}
a.image_arrow { background: url(../img/default/icons4/image_arrow.png) no-repeat 0px 0px;}
a.image_exclamation { background: url(../img/default/icons4/image_exclamation.png) no-repeat 0px 0px;}
a.image_minus { background: url(../img/default/icons4/image_minus.png) no-repeat 0px 0px;}
a.image_pencil { background: url(../img/default/icons4/image_pencil.png) no-repeat 0px 0px;}
a.image_plus { background: url(../img/default/icons4/image_plus.png) no-repeat 0px 0px;}
a.image_resize { background: url(../img/default/icons4/image_resize.png) no-repeat 0px 0px;}
a.image_resize_actual { background: url(../img/default/icons4/image_resize_actual.png) no-repeat 0px 0px;}
a.image_small { background: url(../img/default/icons4/image_small.png) no-repeat 0px 0px;}
a.image_small_sunset { background: url(../img/default/icons4/image_small_sunset.png) no-repeat 0px 0px;}
a.image_sunset { background: url(../img/default/icons4/image_sunset.png) no-repeat 0px 0px;}
a.images { background: url(../img/default/icons4/images.png) no-repeat 0px 0px;}
a.images_arrow { background: url(../img/default/icons4/images_arrow.png) no-repeat 0px 0px;}
a.images_exclamation { background: url(../img/default/icons4/images_exclamation.png) no-repeat 0px 0px;}
a.images_minus { background: url(../img/default/icons4/images_minus.png) no-repeat 0px 0px;}
a.images_pencil { background: url(../img/default/icons4/images_pencil.png) no-repeat 0px 0px;}
a.images_plus { background: url(../img/default/icons4/images_plus.png) no-repeat 0px 0px;}
a.images_stack { background: url(../img/default/icons4/images_stack.png) no-repeat 0px 0px;}
a.inbox { background: url(../img/default/icons4/inbox.png) no-repeat 0px 0px;}
a.inbox_arrow { background: url(../img/default/icons4/inbox_arrow.png) no-repeat 0px 0px;}
a.information { background: url(../img/default/icons4/information.png) no-repeat 0px 0px;}
a.information_frame { background: url(../img/default/icons4/information_frame.png) no-repeat 0px 0px;}
a.information_shield { background: url(../img/default/icons4/information_shield.png) no-repeat 0px 0px;}
a.information_small { background: url(../img/default/icons4/information_small.png) no-repeat 0px 0px;}
a.key { background: url(../img/default/icons4/key.png) no-repeat 0px 0px;}
a.key1 { background: url(../img/default/icons4/key1.png) no-repeat 0px 0px;}
a.key_arrow { background: url(../img/default/icons4/key_arrow.png) no-repeat 0px 0px;}
a.key_disable { background: url(../img/default/icons4/key_disable.png) no-repeat 0px 0px;}
a.key_exclamation { background: url(../img/default/icons4/key_exclamation.png) no-repeat 0px 0px;}
a.key_grey { background: url(../img/default/icons4/key_grey.png) no-repeat 0px 0px;}
a.key_minus { background: url(../img/default/icons4/key_minus.png) no-repeat 0px 0px;}
a.key_pencil { background: url(../img/default/icons4/key_pencil.png) no-repeat 0px 0px;}
a.key_plus { background: url(../img/default/icons4/key_plus.png) no-repeat 0px 0px;}
a.layout { background: url(../img/default/icons4/layout.png) no-repeat 0px 0px;}
a.layout1 { background: url(../img/default/icons4/layout1.png) no-repeat 0px 0px;}
a.layout_2 { background: url(../img/default/icons4/layout_2.png) no-repeat 0px 0px;}
a.layout_2_equal { background: url(../img/default/icons4/layout_2_equal.png) no-repeat 0px 0px;}
a.layout_3 { background: url(../img/default/icons4/layout_3.png) no-repeat 0px 0px;}
a.layout_3_mix { background: url(../img/default/icons4/layout_3_mix.png) no-repeat 0px 0px;}
a.layout_header { background: url(../img/default/icons4/layout_header.png) no-repeat 0px 0px;}
a.layout_header_2 { background: url(../img/default/icons4/layout_header_2.png) no-repeat 0px 0px;}
a.layout_header_2_equal { background: url(../img/default/icons4/layout_header_2_equal.png) no-repeat 0px 0px;}
a.layout_header_3 { background: url(../img/default/icons4/layout_header_3.png) no-repeat 0px 0px;}
a.layout_header_3_mix { background: url(../img/default/icons4/layout_header_3_mix.png) no-repeat 0px 0px;}
a.layout_header_footer { background: url(../img/default/icons4/layout_header_footer.png) no-repeat 0px 0px;}
a.layout_header_footer_2 { background: url(../img/default/icons4/layout_header_footer_2.png) no-repeat 0px 0px;}
a.layout_header_footer_2_equal { background: url(../img/default/icons4/layout_header_footer_2_equal.png) no-repeat 0px 0px;}
a.layout_header_footer_3 { background: url(../img/default/icons4/layout_header_footer_3.png) no-repeat 0px 0px;}
a.layout_header_footer_3_mix { background: url(../img/default/icons4/layout_header_footer_3_mix.png) no-repeat 0px 0px;}
a.layout_join { background: url(../img/default/icons4/layout_join.png) no-repeat 0px 0px;}
a.layout_split { background: url(../img/default/icons4/layout_split.png) no-repeat 0px 0px;}
a.lightning { background: url(../img/default/icons4/lightning.png) no-repeat 0px 0px;}
a.lightning1 { background: url(../img/default/icons4/lightning1.png) no-repeat 0px 0px;}
a.lightning2 { background: url(../img/default/icons4/lightning2.png) no-repeat 0px 0px;}
a.lightning_arrow { background: url(../img/default/icons4/lightning_arrow.png) no-repeat 0px 0px;}
a.lightning_disable { background: url(../img/default/icons4/lightning_disable.png) no-repeat 0px 0px;}
a.lightning_exclamation { background: url(../img/default/icons4/lightning_exclamation.png) no-repeat 0px 0px;}
a.lightning_minus { background: url(../img/default/icons4/lightning_minus.png) no-repeat 0px 0px;}
a.lightning_pencil { background: url(../img/default/icons4/lightning_pencil.png) no-repeat 0px 0px;}
a.lightning_plus { background: url(../img/default/icons4/lightning_plus.png) no-repeat 0px 0px;}
a.lightning_small { background: url(../img/default/icons4/lightning_small.png) no-repeat 0px 0px;}
a.lock { background: url(../img/default/icons4/lock.png) no-repeat 0px 0px;}
a.lock2 { background: url(../img/default/icons4/lock2.png) no-repeat 0px 0px;}
a.lock_arrow { background: url(../img/default/icons4/lock_arrow.png) no-repeat 0px 0px;}
a.lock_disable { background: url(../img/default/icons4/lock_disable.png) no-repeat 0px 0px;}
a.lock_exclamation { background: url(../img/default/icons4/lock_exclamation.png) no-repeat 0px 0px;}
a.lock_grey { background: url(../img/default/icons4/lock_grey.png) no-repeat 0px 0px;}
a.lock_minus { background: url(../img/default/icons4/lock_minus.png) no-repeat 0px 0px;}
a.lock_open { background: url(../img/default/icons4/lock_open.png) no-repeat 0px 0px;}
a.lock_open_grey { background: url(../img/default/icons4/lock_open_grey.png) no-repeat 0px 0px;}
a.lock_pencil { background: url(../img/default/icons4/lock_pencil.png) no-repeat 0px 0px;}
a.lock_plus { background: url(../img/default/icons4/lock_plus.png) no-repeat 0px 0px;}
a.lock_small { background: url(../img/default/icons4/lock_small.png) no-repeat 0px 0px;}
a.lock_unlock { background: url(../img/default/icons4/lock_unlock.png) no-repeat 0px 0px;}
a.magnet_disable { background: url(../img/default/icons4/magnet_disable.png) no-repeat 0px 0px;}
a.magnet_exclamation { background: url(../img/default/icons4/magnet_exclamation.png) no-repeat 0px 0px;}
a.magnet_minus { background: url(../img/default/icons4/magnet_minus.png) no-repeat 0px 0px;}
a.magnet_pencil { background: url(../img/default/icons4/magnet_pencil.png) no-repeat 0px 0px;}
a.magnet_plus { background: url(../img/default/icons4/magnet_plus.png) no-repeat 0px 0px;}
a.magnet_small { background: url(../img/default/icons4/magnet_small.png) no-repeat 0px 0px;}
a.magnifier { background: url(../img/default/icons4/magnifier.png) no-repeat 0px 0px;}
a.magnifier_arrow { background: url(../img/default/icons4/magnifier_arrow.png) no-repeat 0px 0px;}
a.magnifier_exclamation { background: url(../img/default/icons4/magnifier_exclamation.png) no-repeat 0px 0px;}
a.magnifier_left { background: url(../img/default/icons4/magnifier_left.png) no-repeat 0px 0px;}
a.magnifier_medium { background: url(../img/default/icons4/magnifier_medium.png) no-repeat 0px 0px;}
a.magnifier_medium_left { background: url(../img/default/icons4/magnifier_medium_left.png) no-repeat 0px 0px;}
a.magnifier_minus { background: url(../img/default/icons4/magnifier_minus.png) no-repeat 0px 0px;}
a.magnifier_pencil { background: url(../img/default/icons4/magnifier_pencil.png) no-repeat 0px 0px;}
a.magnifier_plus { background: url(../img/default/icons4/magnifier_plus.png) no-repeat 0px 0px;}
a.magnifier_small { background: url(../img/default/icons4/magnifier_small.png) no-repeat 0px 0px;}
a.magnifier_zoom { background: url(../img/default/icons4/magnifier_zoom.png) no-repeat 0px 0px;}
a.magnifier_zoom_actual { background: url(../img/default/icons4/magnifier_zoom_actual.png) no-repeat 0px 0px;}
a.magnifier_zoom_fit { background: url(../img/default/icons4/magnifier_zoom_fit.png) no-repeat 0px 0px;}
a.magnifier_zoom_out { background: url(../img/default/icons4/magnifier_zoom_out.png) no-repeat 0px 0px;}
a.mail { background: url(../img/default/icons4/mail.png) no-repeat 0px 0px;}
a.mail_arrow { background: url(../img/default/icons4/mail_arrow.png) no-repeat 0px 0px;}
a.mail_exclamation { background: url(../img/default/icons4/mail_exclamation.png) no-repeat 0px 0px;}
a.mail_minus { background: url(../img/default/icons4/mail_minus.png) no-repeat 0px 0px;}
a.mail_open { background: url(../img/default/icons4/mail_open.png) no-repeat 0px 0px;}
a.mail_open_document { background: url(../img/default/icons4/mail_open_document.png) no-repeat 0px 0px;}
a.mail_open_film { background: url(../img/default/icons4/mail_open_film.png) no-repeat 0px 0px;}
a.mail_open_image { background: url(../img/default/icons4/mail_open_image.png) no-repeat 0px 0px;}
a.mail_pencil { background: url(../img/default/icons4/mail_pencil.png) no-repeat 0px 0px;}
a.mail_plus { background: url(../img/default/icons4/mail_plus.png) no-repeat 0px 0px;}
a.mail_small { background: url(../img/default/icons4/mail_small.png) no-repeat 0px 0px;}
a.mails { background: url(../img/default/icons4/mails.png) no-repeat 0px 0px;}
a.mails_arrow { background: url(../img/default/icons4/mails_arrow.png) no-repeat 0px 0px;}
a.mails_exclamation { background: url(../img/default/icons4/mails_exclamation.png) no-repeat 0px 0px;}
a.mails_minus { background: url(../img/default/icons4/mails_minus.png) no-repeat 0px 0px;}
a.mails_pencil { background: url(../img/default/icons4/mails_pencil.png) no-repeat 0px 0px;}
a.mails_plus { background: url(../img/default/icons4/mails_plus.png) no-repeat 0px 0px;}
a.mails_stack { background: url(../img/default/icons4/mails_stack.png) no-repeat 0px 0px;}
a.note01 { background: url(../img/default/icons4/note01.png) no-repeat 0px 0px;}
a.note02 { background: url(../img/default/icons4/note02.png) no-repeat 0px 0px;}
a.note03 { background: url(../img/default/icons4/note03.png) no-repeat 0px 0px;}
a.note04 { background: url(../img/default/icons4/note04.png) no-repeat 0px 0px;}
a.note05 { background: url(../img/default/icons4/note05.png) no-repeat 0px 0px;}
a.note06 { background: url(../img/default/icons4/note06.png) no-repeat 0px 0px;}
a.note07 { background: url(../img/default/icons4/note07.png) no-repeat 0px 0px;}
a.note08 { background: url(../img/default/icons4/note08.png) no-repeat 0px 0px;}
a.note09 { background: url(../img/default/icons4/note09.png) no-repeat 0px 0px;}
a.note10 { background: url(../img/default/icons4/note10.png) no-repeat 0px 0px;}
a.note11 { background: url(../img/default/icons4/note11.png) no-repeat 0px 0px;}
a.note12 { background: url(../img/default/icons4/note12.png) no-repeat 0px 0px;}
a.notebook_plus { background: url(../img/default/icons4/notebook_plus.png) no-repeat 0px 0px;}
a.notebooks { background: url(../img/default/icons4/notebooks.png) no-repeat 0px 0px;}
a.notebooks_arrow { background: url(../img/default/icons4/notebooks_arrow.png) no-repeat 0px 0px;}
a.notebooks_exclamation { background: url(../img/default/icons4/notebooks_exclamation.png) no-repeat 0px 0px;}
a.notebooks_minus { background: url(../img/default/icons4/notebooks_minus.png) no-repeat 0px 0px;}
a.notebooks_pencil { background: url(../img/default/icons4/notebooks_pencil.png) no-repeat 0px 0px;}
a.notebooks_plus { background: url(../img/default/icons4/notebooks_plus.png) no-repeat 0px 0px;}
a.notepad { background: url(../img/default/icons4/notepad.png) no-repeat 0px 0px;}
a.paper_bag_plus { background: url(../img/default/icons4/paper_bag_plus.png) no-repeat 0px 0px;}
a.pause { background: url(../img/default/icons4/pause.png) no-repeat 0px 0px;}
a.pencil { background: url(../img/default/icons4/pencil.png) no-repeat 0px 0px;}
a.pencil01 { background: url(../img/default/icons4/pencil01.png) no-repeat 0px 0px;}
a.pencil02 { background: url(../img/default/icons4/pencil02.png) no-repeat 0px 0px;}
a.pencil03 { background: url(../img/default/icons4/pencil03.png) no-repeat 0px 0px;}
a.pencil_arrow { background: url(../img/default/icons4/pencil_arrow.png) no-repeat 0px 0px;}
a.pencil_exclamation { background: url(../img/default/icons4/pencil_exclamation.png) no-repeat 0px 0px;}
a.pencil_minus { background: url(../img/default/icons4/pencil_minus.png) no-repeat 0px 0px;}
a.pencil_plus { background: url(../img/default/icons4/pencil_plus.png) no-repeat 0px 0px;}
a.pencil_small { background: url(../img/default/icons4/pencil_small.png) no-repeat 0px 0px;}
a.piano_plus { background: url(../img/default/icons4/piano_plus.png) no-repeat 0px 0px;}
a.picture { background: url(../img/default/icons4/picture.png) no-repeat 0px 0px;}
a.picture_arrow { background: url(../img/default/icons4/picture_arrow.png) no-repeat 0px 0px;}
a.picture_exclamation { background: url(../img/default/icons4/picture_exclamation.png) no-repeat 0px 0px;}
a.picture_minus { background: url(../img/default/icons4/picture_minus.png) no-repeat 0px 0px;}
a.picture_pencil { background: url(../img/default/icons4/picture_pencil.png) no-repeat 0px 0px;}
a.picture_plus { background: url(../img/default/icons4/picture_plus.png) no-repeat 0px 0px;}
a.picture_small { background: url(../img/default/icons4/picture_small.png) no-repeat 0px 0px;}
a.pin { background: url(../img/default/icons4/pin.png) no-repeat 0px 0px;}
a.pin_arrow { background: url(../img/default/icons4/pin_arrow.png) no-repeat 0px 0px;}
a.pin_exclamation { background: url(../img/default/icons4/pin_exclamation.png) no-repeat 0px 0px;}
a.pin_minus { background: url(../img/default/icons4/pin_minus.png) no-repeat 0px 0px;}
a.pin_pencil { background: url(../img/default/icons4/pin_pencil.png) no-repeat 0px 0px;}
a.plugin_green { background: url(../img/default/icons4/plugin_green.png) no-repeat 0px 0px;}
a.plugin_white { background: url(../img/default/icons4/plugin_white.png) no-repeat 0px 0px;}
a.plus { background: url(../img/default/icons4/plus.png) no-repeat 0px 0px;}
a.plus_circle { background: url(../img/default/icons4/plus_circle.png) no-repeat 0px 0px;}
a.plus_circle_frame { background: url(../img/default/icons4/plus_circle_frame.png) no-repeat 0px 0px;}
a.plus_green { background: url(../img/default/icons4/plus_green.png) no-repeat 0px 0px;}
a.plus_shield { background: url(../img/default/icons4/plus_shield.png) no-repeat 0px 0px;}
a.plus_small { background: url(../img/default/icons4/plus_small.png) no-repeat 0px 0px;}
a.plus_small_circle { background: url(../img/default/icons4/plus_small_circle.png) no-repeat 0px 0px;}
a.printer { background: url(../img/default/icons4/printer.png) no-repeat 0px 0px;}
a.printer_arrow { background: url(../img/default/icons4/printer_arrow.png) no-repeat 0px 0px;}
a.printer_empty { background: url(../img/default/icons4/printer_empty.png) no-repeat 0px 0px;}
a.printer_exclamation { background: url(../img/default/icons4/printer_exclamation.png) no-repeat 0px 0px;}
a.printer_minus { background: url(../img/default/icons4/printer_minus.png) no-repeat 0px 0px;}
a.printer_pencil { background: url(../img/default/icons4/printer_pencil.png) no-repeat 0px 0px;}
a.printer_plus { background: url(../img/default/icons4/printer_plus.png) no-repeat 0px 0px;}
a.printer_small { background: url(../img/default/icons4/printer_small.png) no-repeat 0px 0px;}
a.question { background: url(../img/default/icons4/question.png) no-repeat 0px 0px;}
a.question_frame { background: url(../img/default/icons4/question_frame.png) no-repeat 0px 0px;}
a.question_shield { background: url(../img/default/icons4/question_shield.png) no-repeat 0px 0px;}
a.question_small { background: url(../img/default/icons4/question_small.png) no-repeat 0px 0px;}
a.receipt { background: url(../img/default/icons4/receipt.png) no-repeat 0px 0px;}
a.receipt_arrow { background: url(../img/default/icons4/receipt_arrow.png) no-repeat 0px 0px;}
a.receipt_exclamation { background: url(../img/default/icons4/receipt_exclamation.png) no-repeat 0px 0px;}
a.receipt_minus { background: url(../img/default/icons4/receipt_minus.png) no-repeat 0px 0px;}
a.receipt_pencil { background: url(../img/default/icons4/receipt_pencil.png) no-repeat 0px 0px;}
a.receipt_plus { background: url(../img/default/icons4/receipt_plus.png) no-repeat 0px 0px;}
a.receipt_shred { background: url(../img/default/icons4/receipt_shred.png) no-repeat 0px 0px;}
a.receipt_text { background: url(../img/default/icons4/receipt_text.png) no-repeat 0px 0px;}
a.receipts { background: url(../img/default/icons4/receipts.png) no-repeat 0px 0px;}
a.receipts_arrow { background: url(../img/default/icons4/receipts_arrow.png) no-repeat 0px 0px;}
a.receipts_exclamation { background: url(../img/default/icons4/receipts_exclamation.png) no-repeat 0px 0px;}
a.receipts_minus { background: url(../img/default/icons4/receipts_minus.png) no-repeat 0px 0px;}
a.receipts_pencil { background: url(../img/default/icons4/receipts_pencil.png) no-repeat 0px 0px;}
a.receipts_plus { background: url(../img/default/icons4/receipts_plus.png) no-repeat 0px 0px;}
a.receipts_text { background: url(../img/default/icons4/receipts_text.png) no-repeat 0px 0px;}
a.reload1 { background: url(../img/default/icons4/reload1.png) no-repeat 0px 0px;}
a.reload2 { background: url(../img/default/icons4/reload2.png) no-repeat 0px 0px;}
a.reload3 { background: url(../img/default/icons4/reload3.png) no-repeat 0px 0px;}
a.reload4 { background: url(../img/default/icons4/reload4.png) no-repeat 0px 0px;}
a.report { background: url(../img/default/icons4/report.png) no-repeat 0px 0px;}
a.report_arrow { background: url(../img/default/icons4/report_arrow.png) no-repeat 0px 0px;}
a.report_exclamation { background: url(../img/default/icons4/report_exclamation.png) no-repeat 0px 0px;}
a.report_minus { background: url(../img/default/icons4/report_minus.png) no-repeat 0px 0px;}
a.report_pencil { background: url(../img/default/icons4/report_pencil.png) no-repeat 0px 0px;}
a.report_plus { background: url(../img/default/icons4/report_plus.png) no-repeat 0px 0px;}
a.resultset_first { background: url(../img/default/icons4/resultset_first.png) no-repeat 0px 0px;}
a.resultset_last { background: url(../img/default/icons4/resultset_last.png) no-repeat 0px 0px;}
a.resultset_next { background: url(../img/default/icons4/resultset_next.png) no-repeat 0px 0px;}
a.resultset_previous { background: url(../img/default/icons4/resultset_previous.png) no-repeat 0px 0px;}
a.socket { background: url(../img/default/icons4/socket.png) no-repeat 0px 0px;}
a.socket_arrow { background: url(../img/default/icons4/socket_arrow.png) no-repeat 0px 0px;}
a.socket_exclamation { background: url(../img/default/icons4/socket_exclamation.png) no-repeat 0px 0px;}
a.socket_minus { background: url(../img/default/icons4/socket_minus.png) no-repeat 0px 0px;}
a.socket_pencil { background: url(../img/default/icons4/socket_pencil.png) no-repeat 0px 0px;}
a.socket_plus { background: url(../img/default/icons4/socket_plus.png) no-repeat 0px 0px;}
a.sticky_note { background: url(../img/default/icons4/sticky_note.png) no-repeat 0px 0px;}
a.sticky_note_arrow { background: url(../img/default/icons4/sticky_note_arrow.png) no-repeat 0px 0px;}
a.sticky_note_exclamation { background: url(../img/default/icons4/sticky_note_exclamation.png) no-repeat 0px 0px;}
a.sticky_note_minus { background: url(../img/default/icons4/sticky_note_minus.png) no-repeat 0px 0px;}
a.sticky_note_pencil { background: url(../img/default/icons4/sticky_note_pencil.png) no-repeat 0px 0px;}
a.sticky_note_pin { background: url(../img/default/icons4/sticky_note_pin.png) no-repeat 0px 0px;}
a.sticky_note_plus { background: url(../img/default/icons4/sticky_note_plus.png) no-repeat 0px 0px;}
a.sticky_note_shred { background: url(../img/default/icons4/sticky_note_shred.png) no-repeat 0px 0px;}
a.sticky_note_small { background: url(../img/default/icons4/sticky_note_small.png) no-repeat 0px 0px;}
a.sticky_note_small_pin { background: url(../img/default/icons4/sticky_note_small_pin.png) no-repeat 0px 0px;}
a.sticky_note_text { background: url(../img/default/icons4/sticky_note_text.png) no-repeat 0px 0px;}
a.sticky_notes { background: url(../img/default/icons4/sticky_notes.png) no-repeat 0px 0px;}
a.sticky_notes__arrow { background: url(../img/default/icons4/sticky_notes__arrow.png) no-repeat 0px 0px;}
a.sticky_notes__exclamation { background: url(../img/default/icons4/sticky_notes__exclamation.png) no-repeat 0px 0px;}
a.sticky_notes__minus { background: url(../img/default/icons4/sticky_notes__minus.png) no-repeat 0px 0px;}
a.sticky_notes__pencil { background: url(../img/default/icons4/sticky_notes__pencil.png) no-repeat 0px 0px;}
a.sticky_notes__plus { background: url(../img/default/icons4/sticky_notes__plus.png) no-repeat 0px 0px;}
a.sticky_notes_pin { background: url(../img/default/icons4/sticky_notes_pin.png) no-repeat 0px 0px;}
a.sticky_notes_stack { background: url(../img/default/icons4/sticky_notes_stack.png) no-repeat 0px 0px;}
a.sticky_notes_text { background: url(../img/default/icons4/sticky_notes_text.png) no-repeat 0px 0px;}
a.swap1 { background: url(../img/default/icons4/swap1.png) no-repeat 0px 0px;}
a.swap2 { background: url(../img/default/icons4/swap2.png) no-repeat 0px 0px;}
a.swap3 { background: url(../img/default/icons4/swap3.png) no-repeat 0px 0px;}
a.swap4 { background: url(../img/default/icons4/swap4.png) no-repeat 0px 0px;}
a.table { background: url(../img/default/icons4/table.png) no-repeat 0px 0px;}
a.table01 { background: url(../img/default/icons4/table01.png) no-repeat 0px 0px;}
a.table02 { background: url(../img/default/icons4/table02.png) no-repeat 0px 0px;}
a.table03 { background: url(../img/default/icons4/table03.png) no-repeat 0px 0px;}
a.table04 { background: url(../img/default/icons4/table04.png) no-repeat 0px 0px;}
a.table05 { background: url(../img/default/icons4/table05.png) no-repeat 0px 0px;}
a.table06 { background: url(../img/default/icons4/table06.png) no-repeat 0px 0px;}
a.table_arrow { background: url(../img/default/icons4/table_arrow.png) no-repeat 0px 0px;}
a.table_delete { background: url(../img/default/icons4/table_delete.png) no-repeat 0px 0px;}
a.table_delete_column { background: url(../img/default/icons4/table_delete_column.png) no-repeat 0px 0px;}
a.table_exclamation { background: url(../img/default/icons4/table_exclamation.png) no-repeat 0px 0px;}
a.table_insert { background: url(../img/default/icons4/table_insert.png) no-repeat 0px 0px;}
a.table_insert_column { background: url(../img/default/icons4/table_insert_column.png) no-repeat 0px 0px;}
a.table_minus { background: url(../img/default/icons4/table_minus.png) no-repeat 0px 0px;}
a.table_pencil { background: url(../img/default/icons4/table_pencil.png) no-repeat 0px 0px;}
a.table_plus { background: url(../img/default/icons4/table_plus.png) no-repeat 0px 0px;}
a.tables { background: url(../img/default/icons4/tables.png) no-repeat 0px 0px;}
a.tables_arrow { background: url(../img/default/icons4/tables_arrow.png) no-repeat 0px 0px;}
a.tables_exclamation { background: url(../img/default/icons4/tables_exclamation.png) no-repeat 0px 0px;}
a.tables_minus { background: url(../img/default/icons4/tables_minus.png) no-repeat 0px 0px;}
a.tables_pencil { background: url(../img/default/icons4/tables_pencil.png) no-repeat 0px 0px;}
a.tables_plus { background: url(../img/default/icons4/tables_plus.png) no-repeat 0px 0px;}
a.tables_stacks { background: url(../img/default/icons4/tables_stacks.png) no-repeat 0px 0px;}
a.tag { background: url(../img/default/icons4/tag.png) no-repeat 0px 0px;}
a.tick { background: url(../img/default/icons4/tick.png) no-repeat 0px 0px;}
a.tick1 { background: url(../img/default/icons4/tick1.png) no-repeat 0px 0px;}
a.tick_circle { background: url(../img/default/icons4/tick_circle.png) no-repeat 0px 0px;}
a.tick_circle_frame { background: url(../img/default/icons4/tick_circle_frame.png) no-repeat 0px 0px;}
a.tick_shield { background: url(../img/default/icons4/tick_shield.png) no-repeat 0px 0px;}
a.tick_small { background: url(../img/default/icons4/tick_small.png) no-repeat 0px 0px;}
a.tick_small_circle { background: url(../img/default/icons4/tick_small_circle.png) no-repeat 0px 0px;}
a.ticket_exclamation { background: url(../img/default/icons4/ticket_exclamation.png) no-repeat 0px 0px;}
a.ticket_minus { background: url(../img/default/icons4/ticket_minus.png) no-repeat 0px 0px;}
a.ticket_pencil { background: url(../img/default/icons4/ticket_pencil.png) no-repeat 0px 0px;}
a.ticket_plus { background: url(../img/default/icons4/ticket_plus.png) no-repeat 0px 0px;}
a.ticket_small { background: url(../img/default/icons4/ticket_small.png) no-repeat 0px 0px;}
a.twobubbles01 { background: url(../img/default/icons4/twobubbles01.png) no-repeat 0px 0px;}
a.twobubbles02 { background: url(../img/default/icons4/twobubbles02.png) no-repeat 0px 0px;}
a.up { background: url(../img/default/icons4/up.png) no-repeat 0px 0px;}
a.wrench_exclamation { background: url(../img/default/icons4/wrench_exclamation.png) no-repeat 0px 0px;}
a.wrench_minus { background: url(../img/default/icons4/wrench_minus.png) no-repeat 0px 0px;}
a.wrench_pencil { background: url(../img/default/icons4/wrench_pencil.png) no-repeat 0px 0px;}
a.wrench_plus { background: url(../img/default/icons4/wrench_plus.png) no-repeat 0px 0px;}
a.wrench_screwdriver { background: url(../img/default/icons4/wrench_screwdriver.png) no-repeat 0px 0px;}
a.wrenchs { background: url(../img/default/icons4/wrenchs.png) no-repeat 0px 0px;}

.blist2 {background-image: url(../img/default/icons/package_add.png)  !important;}

.blist { background-image: url(../img/default/icons4/tables.png)  !important;}

.deleteE { background-image: url(../img/default/icons4/delete1.png)  !important;}
.markallE { background-image: url(../img/default/icons4/sticky_notes_stack.png)  !important;}
.filterE { background-image: url(../img/default/icons4/filter.png)  !important;}


a.aktion { background: url(../img/default/icons4/aktion.png) no-repeat -2px 0px;}
.wrenchs { background-image: url(../img/default/icons4/sticky_note_arrow.png) !important; height:16px;width:16px;}

.up { background-image: url(../img/default/icons4/arrow_up.png) !important; height:16px;width:16px;}
.down { background-image: url(../img/default/icons4/arrow_down_green.png) !important; height:16px;width:16px;}
