.windowTracker {
	LEFT: 270px;
	/*WIDTH: 800px;*/
	POSITION: absolute;
	bottom: 5px;
	HEIGHT: 30px;
	margin:0; padding:0;
}

#windowTrackerList {
	list-style: none; 
	margin:0; 
	padding:0;
}
#windowTrackerList li.description_active { /* all list items */
	display: block;
	float: left;
	position: relative;
	height: 18px;
	width: 140px;
	background: url(../img/default/window/bg_title_footer_active.gif) repeat-x;
	margin-left:5px;
	padding-left: 10px;
	padding-top: 3px;
	z-index:10002;
	font-weight: bold;
	color: #000;
	left: 0;
	bottom: 0px;
	border: 1px solid #7e7e7e;
	font-size: 11px;
}
#windowTrackerList li.description_inactive { 
	display: block;
	float: left;
	position: relative;
	height: 18px;
	width: 140px;
	background: url(../img/default/window/bg_title_footer_inactive.gif) repeat-x;
	margin-left:5px;
	padding-left: 10px;
	padding-top: 3px;
	z-index:10002;
	font-weight: bold;
	color: #fff;
	left: 0;
	bottom: 0px;
	border: 1px solid #7e7e7e;
	font-size: 11px;
}

#windowTrackerList li.description:hover {
	border: 1px solid #1873AE;
	
}


/* Buttons*/
.window_bt_opt_tracker {
	position: absolute;
	right: 1px;
	top: 1px;
	margin: 0;
	padding: 0;
	display:block;
	list-style: none;
}
.window_bt_opt_tracker li {
	margin:0 0 0 0px;
	padding:0;
	float:left;
}

a.bt_opt_increase { 
	width: 140px; 
	height: 18px; 
	display:block; 
}


#msg-div {
	width:350px;
	z-index:100000;
	opacity:0.75;
	color:#fff !important;
}

div.tabGroupContainer {
	left:10px;
	position:absolute;
	top:41px;
	z-index:5000;
}

div.tabContainer.default ul {
	background-image:/*url(tabs/tabs_bg.gif)*/ none;
}
div.tabContainer ul, div.tabContainer li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}
div.tabContainer ul {
	float:left;
	width:100%;
}
div.tabContainer.default li.current span {
	background:transparent url(backend/plugins/moo.tabs/tabs/tab_sel_end.gif) no-repeat right top;
}
div.tabContainer.default li span {
	background:transparent url(backend/plugins/moo.tabs/tabs/tab_end.gif) no-repeat right top;
}

div.tabContainer li {
	cursor:pointer;
	float:left;
	line-height:35px;
	margin-left:0;
	margin-right:3px;
	padding:0 0 0 10px;
}
div.tabContainer li.disabled {
	cursor:pointer;
	opacity:1;
}
div.tabContainer li.disabled span {
	font-weight:normal;
}

div.tabContainer li span {
	display:block;
	float:left;
	font-family: Arial,Verdana,Geneva,Helvetica,sans-serif;
	font-size:11px;
	line-height:31px;
	padding:0px 10px 0 0;
	font-weight:bold;
}

.x-tab-scroller-right-over {
    background-position: -18px 0;
}

.x-tab-tabmenu-right {
    background: transparent url(backend/img/tab-scroller-menu.gif) no-repeat 0 0;
    border-bottom: 1px solid #8db2e3;
    width:18px;
    position:absolute;
    right:0;
    top:0;
    z-index:10;
    cursor:pointer;
}
.x-tab-tabmenu-over {
    background-position: -18px 0;
}
.x-tab-tabmenu-disabled {
    background-position: 0 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}
.x-tab-strip {
	border: 0px;
	width: 0px;
}
.x-tab-strip-spacer {
	border: 0px
}
.x-tab-panel-header-plain .x-tab-strip-spacer, .x-tab-panel-footer-plain .x-tab-strip-spacer {
	border: 0px;
	height: 0px;
	line-height: 0px;
	display:none
}
ul.x-tab-strip-top {
	border-bottom: 0px
}